{% extends 'layouts/app.twig' %}

{% block css %}
	<link rel='stylesheet' href='/css/style-jeu.css'/>
{% endblock %}

{% block body %}
	<section class="overflow-hidden text-gray-600 body-font">
		<div class="container px-5 py-24 mx-auto">
			<div class="flex flex-col w-full mb-20 ">
				<h1 class="mb-2 font-medium text-gray-900 text-9xl sm:text-6xl title-font">Module.Js</h1>
				<div class="flex w-full mt-6 overflow-hidden border-4 border-indigo-500 rounded"></div>
			</div>
			<div class="flex flex-col w-5/6 m-auto mt-2">


				<div class="flex flex-col my-2 presentation">
					<h1 class="mb-2 font-medium text-gray-900 sm:text-3xl title-font">En quoi consiste ce module ?</h1>
					<p class="p-2 my-3 text-base leading-relaxed text-white bg-indigo-500 border-4 border-indigo-500 rounded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum magna sit amet auctor tincidunt. Donec finibus, arcu eu convallis tempus, urna massa consequat arcu, eget venenatis eros magna ut felis. Maecenas in rutrum sem. Maecenas sodales ex eu augue sagittis, ut bibendum enim hendrerit. Sed viverra at nunc sed elementum. Etiam sagittis tempus dignissim. Curabitur sit amet nibh mollis, dictum quam non, auctor augue. Morbi ullamcorper blandit ultricies. Duis eu nunc neque. Aenean enim neque, porttitor sed elementum ultricies, imperdiet eleifend mi. Cras ut semper ex.</p>
				</div>

				<div class="flex flex-col my-2 outils">
					<h1 class="mb-2 font-medium text-gray-900 sm:text-3xl title-font">Descriptifs des outils utilisés</h1>
					<p class="p-2 my-3 text-base leading-relaxed ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum magna sit amet auctor tincidunt. Donec finibus, arcu eu convallis tempus, urna massa consequat arcu, eget venenatis eros magna ut felis. Maecenas in rutrum sem. Maecenas sodales ex eu augue sagittis, ut bibendum enim hendrerit. Sed viverra at nunc sed elementum. Etiam sagittis tempus dignissim. Curabitur sit amet nibh mollis, dictum quam non, auctor augue. Morbi ullamcorper blandit ultricies. Duis eu nunc neque. Aenean enim neque, porttitor sed elementum ultricies, imperdiet eleifend mi. Cras ut semper ex.</p>
					<p class="p-2 my-3 text-base leading-relaxed ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum magna sit amet auctor tincidunt. Donec finibus, arcu eu convallis tempus, urna massa consequat arcu, eget venenatis eros magna ut felis. Maecenas in rutrum sem. Maecenas sodales ex eu augue sagittis, ut bibendum enim hendrerit. Sed viverra at nunc sed elementum. Etiam sagittis tempus dignissim. Curabitur sit amet nibh mollis, dictum quam non, auctor augue. Morbi ullamcorper blandit ultricies. Duis eu nunc neque. Aenean enim neque, porttitor sed elementum ultricies, imperdiet eleifend mi. Cras ut semper ex.</p>
				</div>


				<div class="flex flex-col my-2 presentation">
					<h1 class="mb-2 font-medium text-gray-900 sm:text-3xl title-font"> Lorem ipsum dolor sit amet</h1>
					<p class="p-2 my-3 text-base font-medium leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum magna sit amet auctor tincidunt. Donec finibus, arcu eu convallis tempus, urna massa consequat arcu, eget venenatis eros magna ut felis. </p>
				</div>

			</div>
		</section>
	{% endblock %}
