body {
  padding: 0;
  margin: 0;
  background: url(assets/background/motif_table.png);
  background-repeat: repeat;
}

/* CSS lié à l'affichage du jeu*/

.container{
  display: flex;
  flex-direction: column;
  
}

.croupier{
  display: flex;
  justify-content: center;
  align-items: end;
}

.affichageCroupier{
  display: flex;
  flex-direction: column;
}

.joueurs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chrono, .bouton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.affichageJoueurs{
  display: flex;
  flex-direction: column;
}

.vie,.score,.main{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* CSS lié aux carte*/
.cards {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}

.card-svg {
  overflow: visible;
  transform: scale(1.15);
}

.card {
  position: relative;
  display: inline-block;
  width: 172px;
  height: 240px;
  font: 16px "Trebuchet MS";
  margin: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.card:before,
.card:after {
  content: attr(value);
  position: absolute;
  width: 12px;
  text-align: center;
  letter-spacing: -2px;
}
.card:before {
  top: 4px;
  left: 4px;
}
.card:after {
  bottom: 4px;
  right: 4px;
  transform: rotate(180deg);
}
.card--coeur,
.card--carreau {
  color: #e44145;
}
.card--coeur:before,
.card--coeur:after {
  content: attr(value) " ♥";
}
.card--carreau:before,
.card--carreau:after {
  content: attr(value) " ♦";
}
.card--pique,
.card--trefle {
  color: #252525;
}
.card--pique:before,
.card--pique:after {
  content: attr(value) " ♠";
}
.card--trefle:before,
.card--trefle:after {
  content: attr(value) " ♣";
}
.card__inner {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
}
.card__inner--centered {
  justify-content: center;
}
.card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__column--centered {
  justify-content: center;
}
.card__symbol {
  display: inline-block;
  height: 40px;
  text-align: center;
}
.card__symbol:before {
  font-size: 40px;
  line-height: 40px;
}
.card--coeur .card__symbol:before {
  content: "♥";
}
.card--carreau .card__symbol:before {
  content: "♦";
}
.card--pique .card__symbol:before {
  content: "♠";
}
.card--trefle .card__symbol:before {
  content: "♣";
}
.card__symbol--rotated,
.card__symbol:last-of-type {
  transform: rotate(180deg);
}
.card__symbol:first-of-type {
  transform: rotate(0);
}
.card__symbol--big {
  flex-basis: 60px;
}
.card__symbol--huge {
  flex-basis: 108px;
}
.title {
  font: 18px "Trebuchet MS";
  color: #444;
  text-align: center;
}

.ace {
  align-items: center;
}
