<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/css/style.css'/> {% block css %}{% endblock %}
		</head>
		<body>
			<header class="absolute z-10 w-full transition duration-300 ease-in-out">
				<div class="flex justify-between max-w-6xl px-5 mx-auto sm:px-6">

					<div class="flex items-center justify-center font-mono text-4xl font-black text-transparent bg-gradient-to-r from-rose-900 bg-clip-text to-red-500">JS.Beginner</div>

					<div class="flex items-center justify-between h-16 md:h-20">


						<div class="flex-shrink-0 mr-4"></div>

						<nav class="flex flex-wrap items-center justify-end">
							{% if auth %}
								<a href="/logout" class="flex items-center px-5 py-3 font-medium text-gray-600 transition duration-150 ease-in-out hover:text-gray-900">Déconnexion</a>
								<a href="/me" class="pt-2 pb-2 pl-4 pr-4 ml-3 text-gray-200 bg-red-800 btn-sm hover:bg-gray-800">Mon compte</a>
							{% else %}
								<a href="/login" class="flex items-center px-5 py-3 font-medium text-gray-600 transition duration-150 ease-in-out hover:text-gray-900">Se connecter</a>
								<a href="/register" class="pt-2 pb-2 pl-4 pr-4 ml-3 text-gray-200 bg-red-800 btn-sm hover:bg-gray-800">Créer un compte</a>
							{% endif %}
							
						</nav>

					</div>
				</div>
			</header>
			{% block body %}{% endblock %}
			<footer class="text-gray-600 body-font">
				<div class="flex flex-col items-center px-12 py-5 sm:flex-row">
					<a class="flex items-center justify-center font-medium text-gray-900 title-font md:justify-start">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 p-2 text-white bg-red-800 rounded-full" viewbox="0 0 24 24">
							<path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
						</svg>
						<span class="ml-3 text-xl">JS.Beginner</span>
					</a>
					<p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0">© 2022 JS.Beginner —
						<a href="" class="ml-1 text-gray-600" rel="noopener noreferrer" target="_blank">Y.Boutkrida N.Landre et H.V. Lê</a>
					</p>
				</div>
			</footer>
			<script defer src="/js/main.js"></script>
			{% block js %}{% endblock %}
		</body>
	</html>
