<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/css/style.css'/> {% block css %}{% endblock %}
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
</head>
<body class="h-screen bg-white font-family-karla">

    <div class="flex flex-wrap w-full">

        <!-- Login Section -->
        <div class="flex flex-col w-full md:w-1/2">

            <div class="flex justify-center pt-12 md:justify-start md:pl-12 md:-mb-24">
                <a href="/" class="p-4 text-xl font-bold text-white bg-black">Logo</a>
            </div>

            <div class="flex flex-col justify-center px-8 pt-8 my-auto md:justify-start md:pt-0 md:px-24 lg:px-32">
                {% block body %}{% endblock %}
            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="hidden object-cover w-full h-screen md:block" src="https://source.unsplash.com/IXUM4cJynP0">
        </div>
    </div>

</body>
</html>